.body {
  background-color: #8e44ad;
  padding: 20px 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  height: 80vh;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
