.body {
  background-color: #8e44ad;
  padding: 20px 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  height: auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.labels {
  font-size: 30px;
}

.mainButton {
  background-color: #8e44ad;
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 200px; 
}

.padding0 {
  padding-right: 0;
  padding-left: 0;
}
